:root{
  --col-a: #d72d4e;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #f5f5f5;
                  /* f0f4fc */
  font-family: sans-serif;
  font-size: 2rem;
}


/* dashboard section */
.dashboard{
  padding: 20px 20px 40px 20px;
  background-color: var(--col-a);
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}
.dashboardText h2{
  margin-bottom: 10px;
}
.dashboardImg{
  color: #fff;
  padding: 25px;
  height: 100px;
  border-radius: 30px;
}


/* feature section */
.containerHeading{
  background-color: #fff;
  margin: 20px;
  border-radius: 30px;
}
.containerHeading h3{
  padding: 40px 0 0 40px;
}
.features{
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 2px 0px 0px  #aaa9a9;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 6%;
}
 p.liveCount{
  color: black;
  margin-bottom: 30px;
}
p.number{
  color: #272727;
  font-size: 60px;
  font-weight: bold;
}
.feature-1, .feature-2, .feature-3, .feature-4{
  flex: 44%;
/*   border: 1px solid #e6e6e6; */
  box-shadow: 2px 4px 5px 0px #393939;
  border-radius: 40px;
  margin: 3%;
  padding: 20px 0 90px 0;
  position: relative;
}
.featureImg-1{
  background-color: #df4b4bz;
  color: white;
  margin-left: 20px;
  margin-right: 50px;f
  padding: 25px 30px 0 30px;
  border-radius: 25px;
}.featureImg-2{
  background-color: #5fc7eb;
  color: white;
  margin-left: 20px;
  margin-right: 50px;
  padding: 25px 30px 0 30px;
  border-radius: 25px;
}
.featureImg-3{
  background-color: #59d9b2;
  color: white;
  height: 100px;
  width: 100px;
  margin-left: 20px;
  margin-right: 40px;
  border-radius: 25px;
}
.featureImg-4{
  background-color: var(--col-a);
  height: 100px;
  width: 100px;
  color: white;
  margin-left: 20px;
  margin-right: 40px;
  border-radius: 25px;
}
.featureText{
  margin: 20px 0 0 25px;
}
.viewMore{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #e05369;
  border-radius: 0 0 39px 39px;
  position: absolute;
  color: white;
  bottom: 0;
  width: 100%;
}
.vmText{
  color: white;
  padding: 15px 0 15px 0;

}




/* menu bar section */
.menuBar{
  background-color: #ffffff;
  padding: 35px 0;
  color: #;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 10px 0 grey;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.menuBar i:hover{
  color: #505fb1;
}


/* latest Orders */
.lOrdersHeading{
  margin: 0 20px 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.latestOrders{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 0px 0px  #aaa9a9;
  border-radius: 30px;
  padding: 25px 0 15px;
  margin: 0 20px 20px;;
}
.IDs{
  color: var(--col-a);
  font-size: 2.3rem;
  margin-bottom: 20px;
  font-weight: bold;
}
.num{
  color: #black;
  font-size: 2.3rem;
  margin-bottom: 40px;
  font-weight: bold;
  margin-left: 20px;
}
.ruppes{
    margin-bottom: 10px;
}
.justBtn{
  display: flex;
  background-color: var(--col-a);
  color: #ffffff;
  font-size: 2.2rem;
  padding: 15px 20px 15px 30px;
  border-radius: 50px;
}
.viewAll{
  background-color: #fff !important;
  color: black !important;
  margin-right: 35px;
  padding: 15px 20px 15px 30px;
  border-radius: 50px;
}
.deliver{
  font-weight: lighter !important;
}
.justBtn i{
  margin: 5px 0 0 20px;
}

/* Latest Statements */
.statementBtn{
  height: 100px;
  width: 100px;
  display: flex;
  background-color: var(--col-a);
  color: #ffffff;
  font-size: 2.2rem;
  /* padding: 15px 20px 15px 30px; */
  border-radius: 50px;
}
.statementBtn i{
  margin-top: 35px;
  margin-left: 35px;
}
.fa, .fas{
  font-weight: normal;
}
.statementHeading{
  background-color: white;
  margin: 50px 20px 0 20px;
  padding: 40px 0 100px 0;
  border-radius: 30px;
  position: relative;
}
.statementHeading h3{
  margin-left: 40px;
  margin-bottom: 25px;
}
.latestStatements{
  background-color: white;
  padding: 30px 20px 30px 25px;
  display: flex;
}
.payMode{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 70px;
}
.statementDate{
  margin-left: 200px;
}
.payModeText{
  color: #003366;
  font-size: 2.3rem;
  font-weight: bold;
}
.tAmount{
  margin-top: 10px;
  color: #4cb050;
  font-size: 3.5rem;
  font-weight: 600;
}
.viewMoreForStatement{
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #d7354e;
  border-radius: 0 0 30px 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}
.viewMoreForStatement i{
  margin-left: 20px;
}
.money{
  margin-left: 8px;
}
hr{
  width: 90%;
  margin: 0 auto;
}



.test{
  height: 10rem;
}
